html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********************************************/

body {
  font-family: 'Arial', sans-serif;
  background-color: #b8b6b6;
  margin: 0;
  padding: 0;
}

h1 {
  color: #020202;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

#countries-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 150px;
  gap: 50px;
  border-radius: 10px;
  background-color: white;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img img {
  width: 150px;
  height: 100px;
  padding-bottom: 10px;
}

.img h3 {
  text-align: center;
  font-weight: bold;
}

.submenu {
  display: none;
  border: solid 1px red;
  position: absolute;
  top: 100%;
  left: 0;
}

.submenu.active {
  display: block;
  background-color: black;
  color: white;
  line-height: 20px;
  padding: 10px;
  margin-left: 10px;
  box-shadow: 10px 11px 20px 1px rgba(243, 3, 3, 0.95);
  -webkit-box-shadow: 10px 11px 20px 1px rgba(221, 11, 11, 0.95);
  -moz-box-shadow: 10px 11px 20px 1px rgba(146, 9, 9, 0.95);
  z-index: 5;
}